.a{
    color: red;
}

.b{
    color: green;
}

.green{
    color: green;
}

.red{
    color: red;
}
.yellow{
    color: yellow;
}


.red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  .bg-custom{
    background-color: rgb(15, 13, 11);
}

  